  #div_principal{
      height: 400px;
      width: 1000px;      
      /*background: linear-gradient(90deg, rgba(56, 0, 54, 1) 0%, rgba(12, 186, 186, 1) 100%);*/
      background: linear-gradient(90deg,#0f6868 0%, #0f6868 100%);
  }
  .draggable{
    height: 64px;
    width: 64px;
    
    padding: 1px;
    background-position: center;
    background-size: cover;
    /*border-radius: 1px solid red;*/
  }
  .draggable img{
    max-height: 100%;
    max-width: 100%;
  }

  .imgs_selecion{
    height: 64px;
    width: 64px;
    
    padding: 1px;
    background-position: center;
    background-size: cover;
    /*border-radius: 1px solid red;*/
  }

  .imgs_selecion img{
    max-height: 100%;
    max-width: 100%;    
  }

  /*.photo{
    height: 40px;
    width: 64px;
    margin-top: 10px;
    border-radius: 1px solid red;
    padding: 1px;
    background-position: center;
  }*/

  .radiobut{
    background-color: red;
  }

  .label_icon{
    position: relative;
    width: 100%;
    height: 13px;
    color: #DDD;
    background: rgba(0,0,0,0.4);
    font-family: Segoe UI, Verdana;
    font-size: 9px;
    border-radius: 8px;
    text-align: center;
    border-radius: 2px solid blue;
  }

  .contenedorproductos{
    background-color:#d9ad26;
    color: white;
  }
  
  .div_ordenes{
    background-color:white;
    height:250px;
    width: 100%; 
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
    padding: 10px;
    height:250px;
    overflow: auto;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .producto{
    height: 120px;
    width: 120px;
    margin-left: 1px;
    margin-right: 1px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }

  .producto img{
    max-height: 100%;
    max-width: 100%;    
  }

  .btn_x{
    border-radius: 25px;
  }

  .btns{
    border: transparent;
  }
  .caja{
    border: 1px solid rgba(85, 85, 85, 0.8);
    border-radius: 8px;
    text-align: center;
  }