/*CSS que contiene estilos basicos que se utilizan en distintos partes del sitio
  -KF 23/10/20*/
body {
    background: rgb(56, 0, 54);
    background: linear-gradient(90deg, rgba(56, 0, 54, 1) 0%, rgba(12, 186, 186, 1) 100%);
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.centroblanco {
    position: relative;
    background-color: white;
    border-radius: 8px;
    min-width: 500px;
    width: 70vw;
    min-height: 60vh;
    margin-left: 15vw;
    margin-top: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;

}

#contenedorTitulos {
    position: absolute;
    width: 70vw;
    height: 25vh;
    top: 0;
    left: 15vw;
    color: white;
    padding-top: 5vh;
}

#titulo {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#lema {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#contenedorcentroIzquierda{
    width: 50%;
    padding-top: 5%;
}
#contenedorcentroderecha{
    width: 50%;
    padding-top: 5%;
    text-align: center;
}

.cajatexto{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 70%;
    color: black;
    transition: all 0.5s ease-in-out;
    height: 25px;
}
